# dependencies
/node_modules
/bower_components
/js/app.js
/js/main.js

# IDEs and editors
/.idea

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

#System Files
.DS_Store