<div class="movie--search" ng-controller="SearchController as searchCtrl">
	<a ng-href="/" class="header--btn movie--back" data-label="Retour">
		<img src="img/icon_back.svg" alt="Login" width="25" height="25">
	</a>
	
	<div>
		<h1>Ajouter un film</h1>
	
		<form name="searchForm" ng-submit="searchMovie(query)" novalidate>
			<div class="form--row">
				<input type="text" name="searchInput" ng-model="query" id="search-field" class="search-field">
				<label for="search-field">Chercher un film</label>
			</div>
			<div class="form--submit">
				<button type="submit">
					<span>Chercher</span>
				</button>
			</div>
		</form>

		<div class="movie--search_results">
			<article ng-repeat="result in searchMovie.results" data-movie-id="{{result.id}}">
				<img ng-src="{{ config.base_url + config.poster_sizes[2] + result.poster_path }}" alt="">
				<h3>{{ result.title }}</h3>
				<span>{{ result.release_date | date: 'yyyy' }}</span>
				<div>{{ result.overview | limitTo: 140 }}<span ng-if="result.overview.length > 140">...</span></div>

				<!-- Add -->
				<div>
					<button ng-click="addMovie(result.id)">Ajouter</button>
				</div>
			</article>
		</div>
	</div>
	
</div>