<div class="login--container">
	
	<h1>Connexion</h1>

	<a ng-href="/" class="header--btn movie--back" data-label="Retour">
		<img src="img/icon_back.svg" alt="Login" width="25" height="25">
	</a>
	
	<form action="/login" class="login--form" novalidate>
		<div class="form--row">
			<input id="login-id" name="login-id" type="text">
			<label for="login-id">Identifiant</label>
		</div>
		
		<div class="form--row">
			<input id="login-pwd" name="login-pwd" type="password">
			<label for="login-pwd">Mot de passe</label>
		</div>
		
		<div class="form--submit">
			<button type="submit">
				<span>Connexion</span>
			</button>
		</div>
	</form>
</div>