.login--container {
	padding-top: 30vh;
}

.login--form {
	/*width: 70%;
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;*/
	
	/*& .form--row {
		position: relative;
		margin-bottom: 2rem;
		
		&:after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 2px;
			
			background: #440b56;
			background: -moz-linear-gradient(left,  #440b56 0%, #dc0b8f 100%);
			background: -webkit-linear-gradient(left,  #440b56 0%,#dc0b8f 100%);
			background: linear-gradient(to right,  #440b56 0%,#dc0b8f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440b56', endColorstr='#dc0b8f',GradientType=1 );
		}
		& label {
			position: absolute;
			left: .1rem;
			top: .5rem;
			//color: #7b5ea1;
			color: rgba(#fff, .4);
			text-transform: uppercase;
		}
		& input {
			position: relative;
			border: none;
			background: none;
			width: 100%;
			padding: .5rem;
			color: #fff;
				
				&:focus {
					outline: none;
				}
		}
		& input:focus + label {
			top: -.75rem;
			color: #fff;
			font-size: .75rem;
			letter-spacing: .1rem;
		}
	}*/
	
	/*& .form--submit {
		margin-top: 2rem;
		
		& button {
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: .2rem;

			width: 100%;
			overflow: hidden;
			padding: 1rem 2rem;
			border-radius: 2rem;
			background: #440b56;
			position: relative;
			box-shadow: 0 .75rem 1rem rgba(#000, .2);
			background: -moz-linear-gradient(left,  #440b56 0%, #dc0b8f 100%);
			background: -webkit-linear-gradient(left,  #440b56 0%,#dc0b8f 100%);
			background: linear-gradient(to right,  #440b56 0%,#dc0b8f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440b56', endColorstr='#dc0b8f',GradientType=1 );
			
			& span {
				position: relative;
				z-index: 1;
			}
			
			&:before {
				content: "";
				position: absolute;
				z-index: 0;
				width: 120%;
				height: 0;
				padding-bottom: 120%;
				margin-left: -35%;
				margin-top: -45%;
				
				background: #dc0b8f;
				background: -moz-radial-gradient(70% 70%, ellipse cover,  #ff007f 8%, #dc0b8f 22%, #440b56 68%);
				background: -webkit-radial-gradient(70% 70%, ellipse cover,  #ff007f 8%,#dc0b8f 22%,#440b56 68%);
				background: radial-gradient(ellipse at 70% 70%,  #ff007f 8%,#dc0b8f 22%,#440b56 68%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff007f', endColorstr='#440b56',GradientType=1 );
				
				animation: GradientRotation 20s steps(120) infinite;
			}
		}
	}*/
}

@keyframes GradientRotation {
	0% {
		transform: rotate(0deg);
	}
	to{
		transform:rotate(360deg);
	}
}

