.movie--card {
	position: relative;
	//padding-left: .5rem;
	//padding-right: .5rem;
	margin-bottom: .75rem;
	width: 35vw;
	height: 55vw;
	
	& > movie-card {
		display: block;
		width: 100%;
		height: 100%;
		background: $dark-color;
		box-shadow: 0 .5rem 2.5rem rgba($dark-color, .5);
		overflow: hidden;
		border-radius: .5rem;
		
		& span.cover {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	
	& .movie--card_title {
		margin-top: 0;
		color: #fff;
	}
	
	& .movie--card_picture {
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		
		& img {
			display: none;
			object-fit: fill;
			object-position: 50% 50%;
			//max-width: 100%;
		}
	}
	
	& .movie--card_text {
		padding: 1rem;
	}
	
	& .movie--card_actions {
		text-align: center;
		
		& > a {
			text-decoration: none;
			border: none;

			&:hover {
				background: $main-color;
			}
		}

	}
	
	& .movie--card_inner {
		height: 100%;
	}
}