.movie--card {
	position: relative;
	padding-left: .5rem;
	padding-right: .5rem;
	flex: 1 0 auto;
	
	& > movie-card {
		display: block;
		background: #fff;
		box-shadow: 0 .5rem 1.5rem rgba($dark-color, .2);
		border-radius: 2px;
		overflow: hidden;
	}
	
	@media screen and (min-width: 768px) {
		flex: 0 0 50%;
	}
	@media screen and (min-width: 1024px) {
		flex: 0 0 33.33%;
		width: 33.33%;
	}
	@media screen and (min-width: 1200px) {
		flex: 0 0 25%;
		width: 25%;
	}
	
	&_title {
		margin-top: 0;
	}
	
	&_picture {
		//background: #1a161f;
		& img {
			max-width: 100%;
		}
	}
	
	&_content {
		padding: 1rem;
	}
	
	&_view {
		text-align: center;
		
		& > a {
			&:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
			}
			& .button {
				border-radius: 0;

				@media screen and (min-width: 1024px) {
					width: 100%;
				}
			}
			&:hover .button {
				background: $main-color;
			}
		}
		
	}
}