$main-color: #8f859b;
$dark-color: #0f0915;
$red-color: #e80269;

@import "normalize";
@import "layout";
@import "form";
@import "movies-list";
@import "movie-card";
@import "movie-card-latest";
@import "movie-view";
@import "movie-search";
@import "login-screen";